body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: #333;
    
    justify-content: center;
    align-items: center;
    font-family: consolas;
    color: whitesmoke;
}
.container{
    padding: 5%;  
    justify-content: center;
    align-content: center;
}
.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    border: #ff0057;
    width: 300px;
    display: flex;
    height: 200px;
}


